@charset "utf-8";
   body {
 /*   background:linear-gradient(45deg,#0077b5,#008891);
	background-image:url(../imagens/bg/fundo.png);
   	background-position:top;
   	background-repeat:repeat-x;
   	background-color:#fff;

   	margin: 0 auto;
  /* 	font-family: Verdana, Arial, Helvetica, sans-serif;*/

  	height:100%;
	
	background: linear-gradient(45deg,#134E5E,#71B280);
    background-attachment: fixed;

	
	/*background-image: url(https://daks2k3a4ib2z.cloudfront.net/546f14a5c9e198387b0a0889/54711743d33ced881f056d52_backgrounds.jpg);
    background-position: 50% 50%;
    background-size: 100% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
  }
/*
	.navbar-collapse.collapse {
	// background-image:linear-gradient(to bottom,#337ab7 0,#265a88 100%)
	}
	  
	.navbar-default {
	border: none;
	}
	
.navbar-default .navbar-nav > li > a{
color:#FFFFFF;
	}
	
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
*/
.navbar{

padding: 20px 0;

}

.footer{


	text-align:center;
	padding: 20px;
	
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

	
	font-size: 90%;

}



.jumbotron{
	
	background: transparent;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;

}

